
.view-user {
    padding-top: 20px;
  }
  
  .view-heading {
    font-size: 4vh;
    color: #333; /* Set your desired text color */
  }
  .add-user {
      padding-top: 20px;
      justify-content: center;
      background-image: linear-gradient(to bottom, rgb(65, 65, 65),rgb(237, 237, 237),rgb(237, 237, 237),rgb(237, 237, 237),rgb(237, 237, 237),rgb(237, 237, 237));
      background-repeat: no-repeat;
    }
    
    .add-heading {
      font-size: 2rem;
      color: #333; /* Set your desired text color */
      margin-bottom: 20px;
    }
    
    .add-breadcrumb {
      background-color: #ffffff8d; /* Set your desired background color */
      padding: 10px;
      color: rgb(0, 0, 0);
      border-radius: 5px;
    }
    
    .add-breadcrumb a {
      color: #007bff; /* Set your desired link color */
      text-decoration: none;
    }
    
    .add-breadcrumb a:hover {
      text-decoration: underline;
    }
    .heading{
      display:flex;
      padding: 20px;
      justify-content: space-between;
      align-items: center;
      background-color: #bebebe80;
    }
    .addbutton{
      color: rgb(255, 255, 255);
      background-color: rgb(0, 106, 255);
      padding-left: 15px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-right: 15px;
      border: 2px solid rgb(0, 106, 255);
      border-radius: 5px;
    }
    .addbutton:hover{
      background-color: rgb(2, 100, 236);
    border: 2px solid rgb(2, 100, 236);
    color:white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.43);
    }