/* Add these styles to your CSS or use inline styles */
.accordion-scroll {
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: 300px; /* Set the maximum height */
  }
  
  .accordion-scroll-content {
    padding: 10px;/* Optional: Add some padding for better styling */
  }
.sidebar{
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: 700px; /* Set the maximum height */
    margin-top: 20px;
    max-width: 700px;
} 
@media (max-width: 768px) {


  .navbar-collapse-scroll {
    max-height: 400px; /* Adjust the max height as needed */
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .accordion-scroll {
    max-height: 200px; /* Set a maximum height for the accordion content */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  /* Optional: Adjust accordion item styles for better spacing */
  .accordion-item {
    margin-bottom: 10px;
  }
}